* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.hero-section {
  background: #000;
  height: 40vh;
  color: #fff;
  text-align: center;
}

.hero-section h2 {
  font-size: 48px;
  text-align: center;
  padding-top: 60px;
}

.hero-section p {
  padding-top: 20px;
  max-width: 800px;
  margin: 0px auto;
line-height: 28px;
}

h3 {
  width: 40%;
  margin: 0 auto;
}

h3:hover {
  background-color: rgb(18, 51, 79);
  border-radius: 10px;
  color: #fff;
}